h2 {
    margin: 50px auto 20px;
    padding: 50px 50px 10px;
    font-size: 4.5rem;
    color: var(--carribeancurrent);
    font-weight: bolder;
    text-align: center;
}

form {
    position: relative;
    left: 20px;
    width: 30%;
    margin: 50px auto;
    font-size: 2.5em;
    display: flex ;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
}

.form-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field-group {
    display: flex;
    flex-direction: column;
    
}

.field-label {
    width: 35%;
    text-align: left;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

.form-check .field-label {
    width: 60%;
}

input {
    margin: 0;
    padding: 5px 15px;
    font-size: 1.5rem;
    width: 60%;
    height: 30px;
    background: white;
    border-radius: 50px;
    border: 2px solid var(--darkcolor);
}

input[type="checkbox"] {
    margin: 0 65px 0 0;
    width: 40%;
}

input[type='submit'] {
    width: 60%;
    position: relative;
    left: -35px;
    margin: 10px auto;
    border-radius: 50px;
    font-size: 2rem;
    height: 50px;
    padding-bottom: 45px;
    background: var(--carribeancurrent);
    color: ghostwhite;
    font-weight: bold;
    transition: background 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out;
}

input[type="submit"]:hover {
    background: var(--darkcolor);
    padding-bottom: 10px;
    cursor: pointer;
    width: 70%;
    height: 60px;
}

.actions {
    margin: 0 auto 40px;
    text-align: center;
    width: calc(100% / 3);
}

.actions div {
    margin: 0 auto;
    width: 80%;
    height: 50px;
    background: ghostwhite;
    border: solid 2px var(--carribeancurrent);
    border-radius: 50px;
    box-shadow: 0 0 10px 5px var(--carribeancurrent);
    color: var(--carribeancurrent);
    font-size: 2.5em;
}

.actions a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
}

img {
    position: relative;
    top: 2px;
}

.actions div button {
    background: inherit;
    border: none;
    font-size: inherit;
    cursor: pointer;
}

.actions div {
    padding: 12px 0 0;
}