input[type="submit"] {
    color: inherit;
    background: inherit;
    border: transparent;
    width: 100%;
    font-size: 1.5em;
    height: 100%;
}

input[type="submit"]:hover{
    cursor: pointer;
}

h2 {
    margin: 50px auto 20px;
    padding: 50px 50px 10px;
    font-size: 4.5rem;
    color: var(--carribeancurrent);
    font-weight: bolder;
    text-align: center;
    text-shadow: 0 0 5px var(--carribeancurrent);
}

.calendar {
    border-radius: 30px;
    padding: 0;
    margin: 20px auto;
    width: 60%;
    overflow: hidden;
    border: solid 2px var(--shamrockgreen);
}

.calendar table {
    margin: 0 auto;
    width: 100%;
    border-spacing: 0;
}

.calendar th,
.calendar td {
    outline: 1px solid var(--shamrockgreen);
    margin: 0;
    text-align: center;
    padding: 5px;
    width: calc(100% / 7);
    height: 70px;
    font-size: 2em;
}

.calendar .marked {
    background-color: lightgreen;
}

.calendar .not-marked {
    background-color: lightgray;
}

.calendar .previous-month {
    color: #ccc;
}
