h1 {
    margin: 100px auto;
    padding: 100px;
    font-size: 5.5rem;
    color: var(--carribeancurrent);
    font-weight: bolder;
    text-align: center;
    -webkit-text-stroke: var(--carribeancurrent) 2px;
}

main {
    min-height: auto !important;
}

.list-item {
    grid-template-columns: 70% 12% 18% !important;
}

.list-item:last-of-type{
    border-bottom: none;
}
