:root {
    /*    --oldrose: #D08F8B;
        --tearose: #E5C2C0;
        --emerald: #5CC17E;
        --shamrockgreen: #329F5B;
        --seagreen: #0C8346;
        --carribeancurrent: #0D5D56;*/
    --oldrose: #D08F8B;
    --tearose: #E5C2C0;
    --emerald: #5CC17E;
    --shamrockgreen: #329F5B;
    --seagreen: #0C8346;
    --carribeancurrent: #2e9cca;
    --darkcolor: #25274d;
    --grayblue: #aaabb8;
}

@font-face {
    font-family: 'RodinHimawariProUB';
    src: url("../fonts/RodinHimawariProUB.woff") format("woff"),
    url("../fonts/RodinHimawariProUB.woff2") format("woff2"),
    url("../fonts/RodinHimawariProUB.otf") format("opentype");
}

body {
    box-sizing: border-box;
    font-size: 10px;
    /*
        background-size: cover;
        background: url("../content/animalcrossingleaves.webp") no-repeat;*/
    background: url("../svgs/background.jpg") ghostwhite;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "RodinHimawariProUB", "Segoe UI", serif;
}

header {
    margin-bottom: 60px;
}

nav {
    color: ghostwhite;
    font-size: 3em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    background: var(--carribeancurrent);
    height: 60px;
}

nav a {
    text-decoration: none;
    color: ghostwhite;
    font-weight: bolder;
}

#homebutton {
    font-size: 1.25em;
    position: relative;
    height: 100%;
    padding: 0 50px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-out;

}

nav ul a {
    color: ghostwhite;
    font-weight: normal;
    font-size: 1em;
}

nav ul {
    margin: 0;
    padding: 20px 0 ;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    list-style: none;
}

nav ul li {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px 5px;
    transition: background-color 0.2s ease-out;
}

#homebutton:hover, nav ul li:hover {
    background: var(--darkcolor);
}

main {
    margin: 80px auto 50px;
    min-height: calc(70vh - 100px);
    width: 80%;
    background: ghostwhite;
    border: solid 2px var(--carribeancurrent);
    border-radius: 50px;
    box-shadow: 0 0 30px 10px var(--carribeancurrent);
}

footer {
    width: 100%;
    height: 40px;
    background: var(--carribeancurrent);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: ghostwhite;
}