main ul {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    justify-content: end;
    align-items: center;
    overflow: hidden;

}

.list-item {
    box-sizing: border-box;
    display: inline-grid;
    grid-template-columns: 60% 12% 18% 5% 5%;
    margin: auto;
    width: 100%;
    padding: 30px 20px;
    border-bottom: 1px solid var(--darkcolor);
    align-items: center;
    transition: padding 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.list-item:hover {
    padding: 50px 20px;
    box-shadow: 0 0 20px 10px var(--carribeancurrent);
    border: none;
}

.habit-details {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
}

.name {
    font-size: 3.5em;
    margin: 0;
    padding: 0 0 0 30px;
}

.is-active {
    font-size: 1em;
    margin: 0 10px;
}

.amount-unit {
    font-size: 2em;
    color: var(--carribeancurrent);
    margin: 0 10px;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 8px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.status.active {
    color: var(--emerald);
    border: 1px solid var(--emerald);
}

.status.inactive {
    color: var(--tearose);
    border: 1px solid var(--tearose);
}

.completion-status {
    display: flex;
    background-color: var(--carribeancurrent);
    color: ghostwhite;
    border: none;
    border-radius: 20px;
    padding: 7px 20px;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    transition: padding 0.1s ease-out, background-color 0.1s ease-out, width 0.1s ease-out;
}

.completion-status:hover {
    background-color: var(--darkcolor);
    padding: 13px 30px;
    width: 90%;
    border-radius: 50px;
}

.habit-disabled {
    background-color: var(--grayblue);
}

.habit-disabled:hover {
    background-color: var(--grayblue);
    cursor: default;
    padding: 7px 20px;
    width: 80%;
}

.edit-button {
    background: url("../svgs/edit.svg");
    background-size: cover;
    width: 30px;
    height: 30px;
}

.delete-button {
    background: url("../svgs/trash.svg") transparent;
    border: none;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.delete-button:hover {
    cursor: pointer;
}

h2 {
    margin: 50px auto 20px;
    padding: 50px 50px 10px;
    font-size: 5rem;
    color: var(--carribeancurrent);
    font-weight: bolder;
    text-align: center;
}

h4 {
    font-size: 3em;
    margin: 20px auto;
    padding: 20px;
    color: var(--carribeancurrent);
    font-weight: bold;
    text-align: center;
}

a{
    text-decoration: none;
    color: inherit;
}