<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Habit Tracker</title>
    @*<link rel="stylesheet" href="~/HabitTracker.styles.css" asp-append-version="true"/>*@
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
<header>
    <nav>
        <div id="homebutton"><a asp-area="" asp-controller="Habit" asp-action="Index">Habit Tracker</a></div>
        <ul>
            <li>
                <a asp-area="" asp-controller="Habit" asp-action="List">Your Habits</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Habit" asp-action="Create">Create a new habit</a>
            </li>
        </ul>
    </nav>
</header>
<div>
        @RenderBody()
</div>

<footer>
    <div>
        &copy; 2024 - HabitTracker - Dominik Kaczmarek
    </div>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>