@model HabitTracker.Models.Habit

@{
    ViewBag.Title = "Edit Habit";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/createAndEdit.css"/>
}

<h2>Edit @Model.Name</h2>

<main>
    <div class=form-horizontal>
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="field-label"></label>
                <input asp-for="Name" class="field"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="field-label"></label>
                <input asp-for="Amount" class="field"/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="field-label"></label>
                <input asp-for="Unit" class="field"/>
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input asp-for="IsActive" class="field"/>
                <label asp-for="IsActive" class="field-label"></label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class=""/>
            </div>
        </form>
    </div>
</main>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}